# SALARIES IN SAN FRANCISCO

#### ---- BY GENDER ----

##### ETL PROJECT by Teresa Ruan, Kendall Jackson, Adam Dunbar

In [9]:
import numpy as np
import pandas as pd
from password import password
import sqlalchemy as sa
from sqlalchemy import create_engine

### Import data from Kaggle
Source: https://www.kaggle.com/ronaldtroncoso20/sf-salaries-extended/

In [10]:
csv_file = "Resources/SF_salary_data_gender.csv"
#sf_salary_data = pd.read_csv(csv_file,na_values = ["Not Provided", "nan"],dtype={"Status":str})
sf_salary_data = pd.read_csv(csv_file)
sf_salary_data

,Unnamed: 0,Id,Employee Name,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,gender
0,0,1,nathaniel ford,general manager-metropolitan transit authority,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,m
1,1,2,gary jimenez,captain iii (police department),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,m
2,2,3,albert pardini,captain iii (police department),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,m
3,3,4,christopher chong,wire rope cable maintenance mechanic,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,m
4,4,5,patrick gardner,"deputy chief of department,(fire department)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,m
5,5,6,david sullivan,assistant deputy chief ii,118602,8601,189083,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN,m
6,6,7,alson lee,"battalion chief, (fire department)",92492,89062.9,134426,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN,NaN
7,7,8,david kushner,deputy director of investments,256577,0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN,m
8,8,9,michael morris,"battalion chief, (fire department)",176933,86362.7,40132.2,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN,m
9,9,10,joanne hayes-white,"chief of department, (fire department)",285262,0,17115.7,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN,f
10,10,11,arthur kenney,"assistant chief of department, (fire department)",194999,71344.9,33149.9,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN,m
11,11,12,patricia jackson,captain iii (police department),99722,87082.6,110804,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN,f
12,12,13,edward harrington,executive contract employee,294580,0,0,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN,m
13,13,14,john martin,department head v,271329,0,21342.6,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN,m
14,14,15,david franklin,"battalion chief, (fire department)",174873,74050.3,37424.1,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN,m
15,15,16,richard corriea,"commander iii, (police department)",198778,73478.2,13957.6,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN,m
16,16,17,amy hart,department head v,268605,0,16115.9,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN,f
17,17,18,sebastian wong,"captain, emergencycy medical services",140547,119397,18625.1,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN,m
18,18,19,marty ross,"battalion chief, (fire department)",168693,69626.1,38115.5,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN,m
19,19,20,ellen moffatt,assistant medical examiner,257511,880.16,16159.5,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN,f
20,20,21,venus azar,assistant medical examiner,257510,0,16679.8,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN,f
21,21,22,judy melinek,assistant medical examiner,257510,377.21,15883.6,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN,f
22,22,23,george garcia,"captain, fire suppression",140547,93200.6,39955.2,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN,m
23,23,24,victor wyrsch,"battalion chief, (fire department)",168693,77896.1,24083.9,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN,m
24,24,25,joseph driscoll,"captain, fire suppression",140547,97868.8,31909.3,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN,m
25,25,26,gregory suhr,chief of police,256470,0,11522.2,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN,m
26,26,27,john hanley,"captain, fire suppression",92080.8,40008,133696,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN,m
27,27,28,raymond guzman,"battalion chief, (fire department)",168693,80706.9,16064,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN,m
28,28,29,denise schmitt,deputy chief iii (police department),261718,0,2357,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN,f
29,29,30,monica fields,"deputy chief of department,(fire department)",246226,0,15140.5,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148624,148624,148625,lorraine rosenthal,senior clerk,0,0,12.89,0,12.89,12.89,2014,NaN,San Francisco,PT,f
148625,148625,148626,renato c,registered nurse,0,0,6,1.24,6.00,7.24,2014,NaN,San Francisco,PT,m
148626,148626,148627,paulet gaines,account clerk,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,NaN
148627,148627,148628,brett a,general laborer,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148628,148628,148629,mark w,general laborer,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148629,148629,148630,elizabeth iniguez,transcriber typist,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,f
148630,148630,148631,randy j,carpenter,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148631,148631,148632,andre m,communications dispatcher 1,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148632,148632,148633,sharon d,protective services worker,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,f
148633,148633,148634,edward ferdinand,general laborer,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148634,148634,148635,david m,transit car cleaner,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148635,148635,148636,james s,general laborer,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148636,148636,148637,andrew j,arborist technician,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148637,148637,148638,kadeshra d,transit fare inspector,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,NaN
148638,148638,148639,lennard b,electrician,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148639,148639,148640,richard a,custodian,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148640,148640,148641,charlene d,parking control officer,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,f
148641,148641,148642,raphael marquis,museum guard,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148642,148642,148643,dominic c,sign worker,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,f
148643,148643,148644,kim brewer,parking control officer,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,f
148644,148644,148645,randy d,"stationary eng, sewage plant",0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148645,148645,148646,carolyn a,human services technician,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,f
148646,148646,148647,not provided,not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN,m
148647,148647,148648,joann anderson,communications dispatcher 2,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,f
148648,148648,148649,leon walker,custodian,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148649,148649,148650,roy i,custodian,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT,m
148650,148650,148651,not provided,not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN,m
148651,148651,148652,not provided,not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN,m
148652,148652,148653,not provided,not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN,m
148653,148653,148654,joe lopez,"counselor, log cabin ranch",0,0,-618.13,0,-618.13,-618.13,2014,NaN,San Francisco,PT,m

### Fix Problems with mixed Data Types within Columns

In [5]:
df1 = sf_salary_data.replace(to_replace =["Not Provided", "nan", "not provided"], value ="NaN")

In [11]:
df2 = df1.fillna({"gender":"u"})

In [12]:
objects_df = df2[["Id","Employee Name","JobTitle","Notes","Agency","Status","gender"]]

In [13]:
floats_df = df2.drop(["Employee Name","JobTitle","Notes","Agency","Status","gender"],axis=1).apply(lambda s: s.astype("float")).fillna(0)
new_floats_df = floats_df["Id"].astype("int")
floats_df["Id"] = new_floats_df

In [14]:
master_df = pd.merge(objects_df, floats_df, on="Id")

,Id,Employee Name,JobTitle,Notes,Agency,Status,gender,Unnamed: 0,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,1,nathaniel ford,general manager-metropolitan transit authority,NaN,San Francisco,NaN,m,0.0,167411.18,0.00,400184.25,0.0,567595.43,567595.43,2011.0
1,2,gary jimenez,captain iii (police department),NaN,San Francisco,NaN,m,1.0,155966.02,245131.88,137811.38,0.0,538909.28,538909.28,2011.0
2,3,albert pardini,captain iii (police department),NaN,San Francisco,NaN,m,2.0,212739.13,106088.18,16452.60,0.0,335279.91,335279.91,2011.0
3,4,christopher chong,wire rope cable maintenance mechanic,NaN,San Francisco,NaN,m,3.0,77916.00,56120.71,198306.90,0.0,332343.61,332343.61,2011.0
4,5,patrick gardner,"deputy chief of department,(fire department)",NaN,San Francisco,NaN,m,4.0,134401.60,9737.00,182234.59,0.0,326373.19,326373.19,2011.0

### Remove Problem-cell in "Employee Name" Column with lazer beam iloc function ;)

In [17]:
master_df.iloc[19230, 1] = "NaN"

### Remove two Columns that aren't useful

In [19]:
master_df1 = master_df.drop('Notes', axis=1)

In [21]:
master_df2 = master_df1.rename(columns={"Unnamed: 0": "Drop"})

In [22]:
master_db = master_df2.drop("Drop", axis=1)
master_db.head()

,Id,Employee Name,JobTitle,Agency,Status,gender,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,1,nathaniel ford,general manager-metropolitan transit authority,San Francisco,NaN,m,167411.18,0.00,400184.25,0.0,567595.43,567595.43,2011.0
1,2,gary jimenez,captain iii (police department),San Francisco,NaN,m,155966.02,245131.88,137811.38,0.0,538909.28,538909.28,2011.0
2,3,albert pardini,captain iii (police department),San Francisco,NaN,m,212739.13,106088.18,16452.60,0.0,335279.91,335279.91,2011.0
3,4,christopher chong,wire rope cable maintenance mechanic,San Francisco,NaN,m,77916.00,56120.71,198306.90,0.0,332343.61,332343.61,2011.0
4,5,patrick gardner,"deputy chief of department,(fire department)",San Francisco,NaN,m,134401.60,9737.00,182234.59,0.0,326373.19,326373.19,2011.0

### Convert "Year" Column to Integer

In [24]:
year_fixed = master_db["Year"].astype(int)
master_db["Year"] = year_fixed

### Transform DF Column Names for Loading Into PostgreSQL

In [25]:
master_cols = ["Id", "Employee Name", "JobTitle", "Agency", "Status", "gender", "BasePay", "OvertimePay", "OtherPay", "Benefits", "TotalPay", "TotalPayBenefits", "Year"]
master_transformed = master_db[master_cols].copy()

# Rename the column headers
master_transformed = master_transformed.rename(columns={"Id": "id",
                                                        "Employee Name": "employee_name",
                                                        "JobTitle": "job_title",
                                                        "Agency": "agency",
                                                        "Status": "status",
                                                        "gender": "gender",
                                                        "BasePay": "base_pay",
                                                        "OvertimePay": "overtime_pay",
                                                        "OtherPay": "other_pay",
                                                        "Benefits": "benefits",
                                                        "TotalPay": "total_pay",
                                                        "TotalPayBenefits": "total_pay_benefits",
                                                        "Year": "year"})

### Divide Master/Transformed DF into 4 Separate DF's by Year for Analysis in SQL Database

In [26]:
df_2011 = master_transformed[master_transformed["year"] == 2011]
df_2012 = master_transformed[master_transformed["year"] == 2012]
df_2013 = master_transformed[master_transformed["year"] == 2013]
df_2014 = master_transformed[master_transformed["year"] == 2014]

### Export Finalized DF to CSV as a Data Back-Up

In [27]:
master_transformed.to_csv('Resources/master_db.csv')